vendor
composer.phar
phpunit.xml
.DS_Store
.php-cs-fixer.cache
.hg
.phpunit.result.cache
.phpunit.cache
.cursor
.idea

test-environment/config.php

# Generated certificates
test-environment/certs/*.pem
test-environment/certs/*.key
